@import url(./header-footer.css);

.container {
  width: 100%;
  max-width: 78.12rem;
  padding: 0 1rem;
  margin: auto;
}

.primary-btn {
  background: var(--orange);
  margin-top: 0.625rem;
}

.primary-btn:hover {
  background-color: var(--orange-d-1);
}

/*===============
      Navbar
===============*/
header {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-ul li {
  display: inline-block;
  margin: 0 0.625rem;
}

.nav-ul li a {
  color: var(--dark);
}

.sell_btn {
  background: var(--blue);
}

.account_btn {
  background: var(--orange);
}

.sell_btn:hover {
  background-color: var(--blue-d-1);
}

.account_btn:hover {
  background-color: var(--orange-d-1);
}

/*==================
      Banner
==================*/

.business_valuation_banner {
  width: 100%;
  background: url(../images/business_valuation_bg.webp) no-repeat center;
  background-size: cover;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business_valuation_content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-column-gap: 1rem;
  align-items: center;
}

.banner-heading-content {
  color: var(--white);
}

.banner-header {
  margin-bottom: 1rem;
}

.little-text {
  color: var(--orange);
}


/*================
  Value business
================*/

.value-business-container {
  padding: 4rem 0;
}

.faq-intro {
  margin: 1rem 0;
}

.business-value-calculator-container {
  padding: 4rem 0;
}

.business-value-calculator-container h2 {
  text-align: center;
  padding: 2rem 0;
}

.business-value-calculator-content {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

.business-disclaimer-section h2 {
  font-size: 0.75rem;
}

.discliamer-desc {
  margin: 1rem 0;
  font-size: 0.625rem;
}

.b-v-c-box {
  text-align: center;
}

.img-container {
  width: 130px;
  height: 130px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.img-container img {
  width: 50%;
  height: 50%;
}

.b-v-c-content {
  margin: 1rem 0;
}

/*==============
  Form Section
==============*/

/* .form-section {
  margin: 0.625rem;
  padding: 0.625rem;
}

.form-section label {
  display: inline-block;
  margin: 0.313rem 0;
}

.form-section .input-field {
  width: 100%;
  padding: 0.5rem 0.938rem;
  font-size: 16px;
  outline: none;
  border: 2px solid var(--grey);
  border-radius: 1.875rem;
}

.form-section .input-field:focus {
  border-radius: 1.563rem 1.563rem 0 0;
}

.checkbox-field {
  margin: 1rem 0;
}

.submit-btn {
  margin-top: 1.25rem;
  background: var(--orange);
  padding: 0.625rem 1.875rem;
}

.submit-btn:hover {
  background-color: var(--orange-d-1);
}

.terms-conditions {
  margin-top: 1rem;
} */

input,
select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.hiddentab {
  display: none;
}

.restab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent;
  vertical-align: middle;
  border: 2px solid blue;
  border-radius: 50%;
  padding: 2px;
  margin: 0 5px;
}

input[type="radio"]:checked+label span {
  width: 10px;
  height: 10px;
  background: blue;
  background-clip: content-box;
}


/*==============
     footer
==============*/

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--white);
  padding: 5rem 0;
}

.footer-header {
  padding: 0.625rem 0;
}

.footer-ul li {
  margin: 0.625rem 0;
}

.footer-ul li a {
  color: var(--white);
}

/*=======================
        Responsive
=======================*/

@media only screen and (max-width: 992px) {
  header {
    display: none;
  }

  .business_valuation_content {
    grid-template-columns: 1fr;
  }

  .business-value-calculator-content {
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}
