@import url(../css/header-footer.css);

.container {
  width: 100%;
  max-width: 78.12rem;
  padding: 0 1rem;
  margin: auto;
}

body {
  background: #ebeced;
}

/*---------------------
      Navigation
---------------------*/
.nav-container {
  background: var(--blue);
}

.nav-li {
  display: inline-block;
  padding: 1rem;
}

.nav-li a {
  color: var(--white);
}

.nav-li:hover a {
  text-decoration: underline;
}



.report-container {
  padding: 1rem 0;
}

.report-container h2 {
  margin: 1rem 0;
}

.report-content {
  background: var(--white);
  padding: 1.5rem;
}

.advert-url {
  width: 30%;
  padding: 3px 10px;
  border: 1px solid var(--dark);
  border-radius: 0.25rem;
}

.advert-url:focus {
  border: 1px solid #66afe9;
  outline: none;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
    0 0 8px rgb(102 175 233 / 60%);
}

.reporting-ul {
  margin: 3.75rem 0;
}


.message-area {
  padding: 1rem;
  outline: none;
  border-radius: 0.25rem;
}

.message-area:focus {
  border: 1px solid #66afe9;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%),
    0 0 8px rgb(102 175 233 / 60%);
}

#submit-btn {
  margin: 1rem 0;
  display: inline-block;
  background: linear-gradient(to bottom, #0088eb 0, #006ebe 100%);
  border: 0;
  padding: 0.313rem 1rem;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.188rem;
}

#submit-btn:hover {
  background: #0088eb;
}

/*-----------------------
  Terms and conditions
-----------------------*/

.t-a-c-container {
  background: var(--white);
  padding: 1.5rem;
  margin: 2rem 0;
}

.trams-and-conditions-intro h1 {
  margin: 2rem 0;
}

.trams-and-conditions-intro p {
  font-size: 0.875rem;
}

.trams-and-conditions-intro p~p {
  margin: 1.5rem 0;
}

.t-a-c-ul {
  margin-left: 2rem;
}

.t-a-c-ul li {
  list-style-type: decimal;
  font-size: 0.75rem;
}

.t-a-c-ul li p {
  font-size: 0.875rem;
}
