@import url(./header-footer.css);

body {
  background: #ebeced;
}

section {
  padding: 1rem;
}

.survey-section h1 {
  padding: 1rem 0;
  font-size: 36px;
  font-weight: 500;
}

.survey-form {
  background: var(--white);
  padding: 1rem 1rem 0;
  box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%);
  border-radius: 3px;
}

.survey-form h2 {
  font-weight: 500;
}

tr {
  margin: 10px 0;
}

th,
td {
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}

.data-col-1,
.data-col-3 {
  width: 20%;
  text-align: center;
}

.data-col-1 input,
.data-col-3 input {
  width: 18px;
  height: 18px;
}

.data-col-2 h4 {
  margin: 10px 0;
  text-align: center;
}

.data-col-2 p {
  font-size: 15px;
}
