@import url(../header-footer.css);

img {
  width: 100%;
}

.details-link {
  color: var(--blue);
  display: inline-block;
  margin-top: 1rem;
}

.banner-section {
  background: url(../../images/Happy_Seller_Image/bg.webp) no-repeat center / cover;
  padding: 7rem 0;
}

.banner-content {
  text-align: center;
  color: var(--white);
}

.banner-content h1 {
  font-size: 2.5rem;
}

.banner-section p {
  font-size: 2rem;
  margin-top: 1rem;
}

/* Stats section */
.stats-section {
  padding: 5rem 0;
  background: var(--white-d-1);
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.stats-content {
  display: flex;
}

.icon-section i {
  font-size: 3.5rem;
}

.stats {
  margin-left: 15px;
}

.stats h2 {
  color: var(--green-d-1);
  font-size: 37px;
}

.stats span {
  color: #777;
  font-size: 20px;
}

/* Advert section */
.advert-container {
  padding: 3rem 0;
}

.advert-header {
  color: var(--blue);
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.advert-content {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 10px;
}

.advert-icon i {
  width: 85px;
  font-size: 4rem
}

.advert-ul {
  margin-top: 2rem;
}

.advert-ul li {
  margin-left: 1rem;
  list-style-type: disc;
}

/* Using advert image */
.using-images-container {
  padding: 5rem 0;
  background: var(--white-d-1);
}

.heading-title {
  text-align: center;
  margin: 1rem 0;
}

.freehold-box {
  background: var(--blue);
  padding-bottom: 10px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}

.freehold-box h2 {
  padding: 0 10px;
  color: var(--white);
}

.heading-title h2 {
  color: var(--blue);
  font-size: 35px;
  font-weight: 500;
}

.using-image-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  padding-top: 2rem;
}

/* use ads */
.ads-container {
  padding: 3rem 0;
}


.ads-content-container {
  margin: 1rem 0;
}

/* ads */
.ads-box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  align-items: center;
  padding-top: 3rem;
}

.btn-container {
  display: flex;
  margin-top: 1rem;
}

.btn-container button {
  margin-right: 10px;
}

.ads-desc-container {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.ads-desc-content {
  margin: 2rem 0;
}

.ads-desc-content h2 {
  font-weight: 500;
}
