@import url(../header-footer.css);

.banner-section {
  background: url(../../images/Happy_Seller_Image/1.webp) no-repeat center / cover;
  padding: 7rem 0;
}

.banner-content {
  text-align: center;
  color: var(--white);
}

.banner-content h1 {
  font-size: 2.5rem;
}

.banner-section p {
  font-size: 2rem;
  margin-top: 1rem;
}
