@import url(../header-footer.css);

img {
  width: 100%;
}

.btn {
  margin: auto;
}

.heading-title {
  text-align: center;
}

.heading-title h2 {
  font-size: 2rem;
  font-weight: 500;
}

.heading-title p {
  font-size: 14px;
}

/* Hero section */
.hero-container {
  padding: 5rem 0;
  text-align: center;
}

.hero-container h1 {
  font-size: 2rem;
  font-weight: 500;
}

.hero-container p {
  margin-bottom: 15px;
}

/* Marketplace section */
.marketplace-container {
  padding: 8rem 0 5rem 0;
  background: var(--grey);
}

.m-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  margin-top: 2rem;
}

.card-body {
  background: var(--white);
  padding: 40px;
  border-radius: 5px;
}

.card-body h2 {
  font-weight: 500;
  color: var(--blue);
}

.card-body p {
  font-size: 0.813em;
}

.fa-solid {
  color: var(--green);
  margin: 20px 0;
}

/* growth section */
.growth-container {
  padding: 4rem 0;
}

.growth-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  margin: 2rem 0;
}

.growth-img-container {
  margin: auto;
}

.growth-img {
  width: 150px;
}

/* Pricing section */
.pricing-container {
  padding: 4rem 0;
  background: var(--blue);
  color: var(--white);
}

.pricing-content {
  text-align: center;
  margin: 3rem 0;
}

.pricing-content h2 {
  font-size: 64px;
  font-weight: 500;
}

.pricing-content p {
  font-size: 13px;
}

/* Users section */
.users-container {
  padding: 4rem 0;
}

.users-img-container {
  margin: 3rem 0;
}
