@import url(../header-footer.css);

.btn {
  margin: auto;
}

.heading-title {
  text-align: center;
}

/* Hero section */
.hero-container {
  padding: 5rem 0;
  text-align: center;
}

.hero-container h1 {
  font-size: 2rem;
  font-weight: 500;
}

.hero-container p {
  margin-bottom: 15px;
}

/* Marketplace section */
.marketplace-container {
  padding: 8rem 0 5rem 0;
  background: var(--grey);
}

.m-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}

.card-body {
  background: var(--white);
  padding: 40px;
  border-radius: 5px;
}

.card-body h2 {
  font-weight: 500;
  color: var(--blue);
}

.card-body p {
  font-size: 0.813em;
}

.fa-solid {
  color: var(--green);
  margin: 20px 0;
}
